@mixin flex-a_center {
    display: flex;
    align-items: center;
}

@mixin flex-j_center {
    display: flex;
    justify-content: center;
}

@mixin flex-ja_center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// transition mixins

@mixin trans-ease-in {
    transition: {
        property: all;
        duration: .15s;
        timing-function: ease-in;
        delay: 0s;
    };
}

@mixin trans-ease-out {
    transition: {
        property: all;
        duration: .2s;
        timing-function: ease-out;
        delay: 0s;
    };
}

// .SlideContent

@mixin SlideContent {
    .SlideContent {
        @include flex-ja_center;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}


@mixin SlideHeader {
    .header {
        color: var(--pallete-blue);
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
    }
}

@mixin userSubStatus {
    .userSubStatus {
        font-weight: 700;
        color: var(--pallete-yellow-light);
        text-shadow: 0 0 15px var(--pallete-yellow);
        font-size: 54px;
        text-shadow: rgba(255, 255, 112, .3) 1px 1px 0, rgba(255, 255, 112, .3) -1px -1px 0, rgba(255, 255, 112, .3) -1px 1px 0, rgba(255, 255, 112, .3) 1px -1px 0, 0 0 15px var(--pallete-yellow);;
    }
}

@mixin ButtonNeon {
    .btn-neon {
        // @include trans-ease-in;
        transition: all .5s ease;
        display: inline-flex;
        vertical-align: middle;
        border-radius: 100px;
        border: solid 2px #fff;
        padding: .85em 1.6em;
        text-transform: uppercase;
        color: var(--pallete-blue);
        font-weight: 700;
        text-decoration: none;
        background: repeating-linear-gradient(0, transparent, transparent 2px, rgba(0, 0, 0, .1) 4px, rgba(0, 0, 0, .1) 3px), rgba(0, 0, 0, .35);
        &.pink {
            border-color: var(--pallete-pink);
            box-shadow: 0 0 10px var(--pallete-pink-dark), 0 0 7px var(--pallete-pink-dark) inset;
            text-shadow: 0 0 5px var(--pallete-blue);
        }
    }
}

// RATING STARS

@mixin RatingStars {
    .Rating_Points {
        // @include flex-ja_center;
        display: flex;
        align-items: center;
        font-weight: 700;
        color: var(--pallete-blue);
        // margin: 10px 0 20px 0;
        font-size: 14px;
        .icon {
            margin-left: 5px;
        }
    }
    
    .userRating_Stars {
        margin: 1em auto;
        width: 160px;
        height: 32px;
        position: relative;
        z-index: 1;
        &:before {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3047 19.8941L10.0428 16.9792L4.78088 19.8941C4.24445 20.1881 3.44594 19.8615 3.56879 19.0205L4.57204 12.8191L0.272404 8.40591C-0.223077 7.86702 -0.0265222 7.15666 0.731032 7.03418L6.61948 6.1197L9.2484 0.498067C9.37534 0.208209 9.66608 0 10.0018 0C10.3376 0 10.6283 0.167383 10.7553 0.498067L13.3842 6.1197L19.2726 7.03418C20.0834 7.1934 20.1858 7.85885 19.7313 8.40591L15.5135 12.8191L16.5168 19.0205C16.656 19.7594 15.8984 20.2044 15.3047 19.8941ZM10.4604 15.2727L14.6372 17.563L13.8428 12.6109C13.8019 12.3619 13.8838 12.0679 14.0517 11.9046L17.5159 8.36508L12.7577 7.69963C12.4669 7.65881 12.2581 7.49142 12.1312 7.24239L10.0428 2.82919L7.95441 7.24239C7.82747 7.49142 7.61863 7.65881 7.3279 7.69963L2.56964 8.40591L6.03391 11.9455C6.2018 12.1537 6.2837 12.4027 6.24275 12.6517L5.44834 17.6038L9.62513 15.3135C10.0059 15.1012 10.3376 15.2319 10.4604 15.2727Z' fill='%2300F0FF'/%3E%3C/svg%3E%0A");
            background-size: contain;
            opacity: .2;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
        }
    }
    
    .star-rating {
        height: 100%;
        width: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3047 19.8941L10.0428 16.9792L4.78088 19.8941C4.24445 20.1881 3.44594 19.8615 3.56879 19.0205L4.57204 12.8191L0.272404 8.40591C-0.223077 7.86702 -0.0265222 7.15666 0.731032 7.03418L6.61948 6.1197L9.2484 0.498067C9.37534 0.208209 9.66608 0 10.0018 0C10.3376 0 10.6283 0.167383 10.7553 0.498067L13.3842 6.1197L19.2726 7.03418C20.0834 7.1934 20.1858 7.85885 19.7313 8.40591L15.5135 12.8191L16.5168 19.0205C16.656 19.7594 15.8984 20.2044 15.3047 19.8941ZM10.4604 15.2727L14.6372 17.563L13.8428 12.6109C13.8019 12.3619 13.8838 12.0679 14.0517 11.9046L17.5159 8.36508L12.7577 7.69963C12.4669 7.65881 12.2581 7.49142 12.1312 7.24239L10.0428 2.82919L7.95441 7.24239C7.82747 7.49142 7.61863 7.65881 7.3279 7.69963L2.56964 8.40591L6.03391 11.9455C6.2018 12.1537 6.2837 12.4027 6.24275 12.6517L5.44834 17.6038L9.62513 15.3135C10.0059 15.1012 10.3376 15.2319 10.4604 15.2727Z' fill='%2300F0FF'/%3E%3C/svg%3E%0A");
        background-size: contain;
        filter: drop-shadow(0 0 5px var(--pallete-blue));
    }
    
    @for $i from 0 through 10 {
        .star-rating[data-stars="#{$i * 0.5}"] {
            width: #{$i * 10%};
        }
    }
}