:root {
    --palette-black-bg: #090A05;

    --palette-pink: #f655a0;
    --palette-pink-dark: #FF0077;

    --palette-blue: #00ffff;

    --palette-yellow: #FFFF70;
    --palette-yellow-light: #FFFFA0;

    --palette-green: #52DE37;

    --palette-dark-regular: #091016;
    --palette-dark-light: #101B29;
    --palette-dark-lighter: #162436;
    --palette-dark-semilight: #162537;
    --palette-dark-medium: #09121C;
    --palette-transparent-bg: rgba(0,0 ,0 ,.4);

    --palette-dark-purple: #190E35;

    --indent-h: 20px;

    --HeaderSectionHeight: 550px;
    // breakpoints
    // --bp-small: 576px;
    // --bp-medium: 768px;
    // --bp-large: 992px;
    // --bp-extra-large: 1200px;

    // text
    --palette-white: #fff;
}

